<!DOCTYPE html>
<html>
    <meta charset="UTF-8" />
    <head>
        <h1>Registration Form</h1>
    </head>
    <body>
        <div>
            <form action="/client/registration" method="POST">
                <label for="name" id="name" type="text" value="">Name: </label>
            </form>
            <input type="submit" value="Sign up" />
        </div>
    </body>
</html>