<!DOCTYPE html>
<html>
    <meta charset="UTF-8" />
    <head>
        <h1>USER REGISTRATION FORM</h1>
    </head>
    <body>
        <div>
            <form action="/registration" method="POST">
                <label for="username">Username: 
                    <input id="username" type="text" name="username"/>
                </label>
                <label for="password">Password: 
                    <input id="password" type="password" name="password" />
                </label>
                <input type="submit" value="Sign up" />
            </form>
        </div>
    </body>
</html>